
{{sets
<div class="fs{{fontSizeIdx}}">
{{glyphs
  <div>
    <{{element}} class="{{selector}}{{prefix}}{{glyphName}}{{postfix}}">{{paths
<span class="{{name}}"></span>}}</{{element}}>
    <span class="mls"> {{prefix}}{{glyphName}}{{postfix}}</span>
  </div>
}}</div>
}}
