{{selector}} {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);{{bgColor
{{bgColor}}
  background-color: {{value}};}}
}
{{sets
{{glyphs
.{{prefix}}{{glyphName}}{{postfix}} {
  width: {{width}}px;
  height: {{height}}px;
  background-position: {{position}};
}
}}}}
