{{filepath}}

{{glyphs
{{single
{{single}}{{indicator}}{{prefix}}{{glyphName}}{{postfix}}{{separator}}"\{{code}}"{{ending}}
}}{{paths
{{indicator}}{{prefix}}{{glyphName}}{{postfix}}-path{{pathIdx}}{{separator}}"\{{code}}"{{ending}}
}}}}
